body {
    font-family: 'Playfair Display', serif;
    margin: 0 auto;
    background-color: #6699ff;
    color: white;

}

h1,
h4, p {
    text-align: center;
    font-weight: bold;
}

@media screen and (max-width: 980px) {
#sidebarphoto{
    margin-left: 30%

}

}
@media screen and (max-width: 768px) {
#sidebarphoto {



}
}
@media screen and (max-width: 640px) {

#sidebarphoto {
    margin-left: 25%;
    width: 50%;
    height: auto;
}
}
}
